.container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  padding-bottom: 24px;
  width: 100%;
}

.list {
  list-style-type: none;
  padding-left: 0px;
  column-count: 3;
}

.big {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.3);
}

.listItem {
  font-size: 17px;
  line-height: 26px;
}

.listItem a {
  color: rgba(0, 0, 0, 0.5);
}

.listItem a:hover {
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 600px) {
  .list {
    column-count: 1;
  }
}
