.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 12px 8px 12px;
  background: #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
}

.logo {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.container:hover {
  background: #dfdddd;
}
