.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background: #E6E6E6;
    border-radius: 12px;
    cursor: pointer;
    gap: 8px;
}

.container:hover {
    background: #DFDDDD;
}